<% if @companies.blank? %>
  <option value=""> Please Add Company First </option>
<% else %>
  <option value="">Select Company </option>
  <% @companies.each do |company| %>
    <option value="<%= company.id %>">
      <%= company.name %>
    </option>
  <% end %>
<% end %>