<h2>Companies</h2>
<%= link_to 'Add Company', new_company_path, class: "text-primary" %>
<hr>
<ul class="navbar-nav">
  <% sr = 1 %>
  <table class="table">
    <thead>
      <tr>
        <th> SR </th>
        <th> Category </th>
        <th> Company </th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <th><%= sr %></th>
          <td><%= company.parrent.name %></td>
          <td><%= company.name %></td>
        </tr>
        <% sr = sr + 1 %>
      <% end %>
    </tbody>
  </table>
</ul>
